    {% include 'header.html' %}
    {% set _messages = get_flashed_messages() %}
<ul>
  {% for message in _messages %}
    <li>{{ message }}</li>
  {% endfor %}
</ul>
    <br>
    <h3>View Profiles</h3>
    <a href="{{ url_for('accounts.user_profiles', username=current_user.username) }}">My User Page</a>
    <br>
    <h3>Update / Delete</h3>
    <form action="" method="POST">  
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" readonly>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ user.password }}" required>
        </div>
        <div>
            <button type="submit">Update User</button>
        </div>
    </form>
    <form action="{{ url_for('accounts.delete', username=user.username) }}" method="POST">
        <button type="submit">Delete User</button>
    </form>